.display {
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
}

.label {
  display: block;
  font-size: 0.6rem;
  letter-spacing: 0.12em;
  opacity: 0.5;
  text-align: left;
}

.value {
  display: block;
  font-size: 2rem;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
